---
import ModuleTree from "@reusable/organisms/ModuleTree";
import UpdateTime from "../reusable/atoms/UpdateTime.astro";

//Obtenemos todos los documuentos 
const allPost = await Astro.glob("../../pages/articles/*/*.md");

//Usando la info de los documentos creamos un arreglo con sus datos relevantes
const data = allPost.map(e => {
	
	//obtenemos la ruta (revelada por Astro)
	const href = e.url as string;
	
	//obtenemos el nombre del modulo al que pertenecen (obtenido de la ruta)
	const moduleName = href.replace(/-/g , " ").split("/")[2].slice(3);
	
	//obtenemos datos para mostrar en la Card (incrustado en el frontmatter)
	const articleName = e.frontmatter.articleName;
	const summary = e.frontmatter.summary as string;
	const iconName =  e.frontmatter.iconName as string;

	return ({
		moduleName,
		articleName,
		summary,
		iconName,
		href,
	})
})
---

<section id="modulos" class="mb-section">
	<ModuleTree data={data} client:visible/>
	<br/>
	<footer>
		<UpdateTime/>
	</footer>
</section>
