---
import ArtAuthor from "../reusable/atoms/ArtAuthor.astro";
---
<section class="max-w-[1000px] mx-auto isolate">
	<figure class="relative">
        <figcaption
            class="text-neutral-500 absolute bottom-0 right-0 text-xs font-extralight -translate-y-4"
        >
            <ArtAuthor href="https://instagram.com/villegas.arts">@Villegas.Arts</ArtAuthor>
        </figcaption>
        <div class="bg-slate-500 absolute left-1/2 -translate-x-1/2 bottom-0 w-[60%] scale-y-50 aspect-square rounded-full translate-y-1/2 -z-10 opacity-50 blur-[200px]"></div>
		<img
			class="w-full max-w-[250px] mx-auto"
			src="resource/img/character.webp"
			alt="personaje en 3D sosteniendo una laptop"
		/>
	</figure>
	<div
		class="bg-gradient-to-r from-indigo-300 to-pink-300 w-full p-1 pb-0 rounded-tl-2xl rounded-tr-2xl overflow-hidden"
	>
		<div
			class="bg-zinc-800 rounded-tl-xl rounded-tr-xl p-6 grid gap-6 md:grid-cols-[1fr_min-content_1fr]"
		>
			<div>
				<h2 class="text-pinia-300 text-subtitle">Ayúdanos a Mejorar</h2>
				<p>
					¿Tienes alguna pregunta o alguna sugerencia para mejorar nuestra pagina? No dudes en contactarnos, ya que estamos siempre dispuestos a escuchar tus inquietudes y recibir tus valiosas ideas.
				</p>
			</div>
			<div class="border-pinia-300 border-r-2 border-dashed"></div>
			<div>
                <form>
                    <label class="block mb-6">
                        <span class="block mb-2">Email</span>
                        <input class="bg-transparent border-zinc-700 w-full p-2 border-2 rounded-md text-sm" type="email" placeholder="Tu Email..." required/>
                    </label>
                    <label class="block mb-6">
                        <span class="block mb-2">Mensaje</span>
                        <textarea class="bg-transparent border-zinc-700 w-full min-h-[100px] max-h-[200px] p-2 border-2 rounded-md text-sm" placeholder="Tu Mensaje..." required/>
                    </label>
					<div class="flex justify-end">
						<button class="isolate relative group">
							<div class="bg-pinia-300 text-black p-2 rounded-md group-hover:-translate-x-1 group-hover:-translate-y-1 transition-transform">
								Enviar Mensaje
							</div>
							<div class="bg-green-400 absolute inset-0 -z-10 rounded-md"></div>
						</button>
					</div>
                    <!-- <button class="bg-pinia-300 py-2 px-3 rounded-md text-black">Enviar</button> -->
                </form>
            </div>
		</div>
	</div>
</section>
