---
import Logo from "@reusable/atoms/Logo.astro";
import PopLink from "@reusable/atoms/PopLink.astro";
import Wrapper from "@reusable/atoms/Wrapper.astro";
import ConditionalRender from "../reusable/atoms/ConditionalRender.astro";

interface Props{
	enableActionBtn? : boolean
}
const {enableActionBtn = true} = Astro.props;
---

<header class="bg-zinc-800 py-4">
	<Wrapper>
		<div class="flex">
			<div class="grow flex items-center gap-8 text-lg">
				<Logo/>
                <hr class="bg-white hidden w-[1px] h-full lg:block">
				<nav class="hidden gap-8 lg:flex">
					<PopLink href="/#contenido">Sobre la Guía</PopLink>
					<PopLink href="/#modulos">Módulos</PopLink>
					<PopLink href="/#preguntas">Preguntas Frecuentes</PopLink>
				</nav>
			</div>
			<div class="flex items-center gap-8">
				<ConditionalRender controller={enableActionBtn}>
					<a class="isolate relative group" href="/#modulos">
						<div class="bg-pinia-300 text-black p-2 rounded-md group-hover:-translate-x-1 group-hover:-translate-y-1 transition-transform">
							Empieza Ahora
						</div>
						<div class="bg-green-400 absolute inset-0 -z-10 rounded-md"></div>
					</a>
				</ConditionalRender>
				<a class="block w-8 brightness-90 hover:brightness-110" href="https://github.com/numonu/ilovejs" target="_blank">
					<img src="/resource/svg/github.svg" alt="continue to github">
				</button>
			</div>
		</div>
	</Wrapper>
</header>
