---
import ModuleTree from "@reusable/organisms/ModuleTree";

//Obtenemos todos los documuentos md
const allPost = await Astro.glob("../../pages/articles/*/*.md");
//Usando la info de los documentos creamos un arreglo con sus datos relevantes
const data = allPost.map(e => {
	
	//obtenemos la ruta (revelada por Astro)
	const href = e.url as string;

	//usando la url obtenemos el nombre del articulo y al modulo al que pertenecen
	const [moduleName , articleName] = href.replace(/-/g , " ").split("/").filter(e => e).slice(1).map(e => e.slice(2));

	//usando la informacion definida dentro del documento obtenemos la siguiente info
	const summary = e.frontmatter.summary as string;
	const iconName =  e.frontmatter.iconName as string;

	return ({
		moduleName,
		articleName,
		summary,
		iconName,
		href,
	})
})
---

<section id="modulos" class="mb-section">
	<ModuleTree data={data} client:visible/>
</section>
