---
import Wrapper from "@reusable/atoms/Wrapper.astro";
import CodeShowcase from "./CodeShowcase.md";
---

<style>
	li::before {
		content: "";
		display: inline-block;
		width: 1.5rem;
		aspect-ratio: 1/1;
		background-image: url("resource/svg/check.svg");
		background-size: cover;
	}
</style>
<section class="py-16">
		<div
			class="max-w-[700px] mx-auto grid gap-8 xl:max-w-none xl:grid-cols-2"
		>
			<div>
				<h2 class="mb-8 text-3xl font-roboto font-normal">
					Aprenderas <strong class="text-pinia-300 font-medium"
						>JavaScript</strong
					> desde cero, el lenguaje de programacion mas versatil del
					mundo
				</h2>
				<p class="mb-8 text-lg">
					<em>JavaScript</em> es una de las tecnologías más esenciales
					en el mundo de la programación y es ampliamente utilizado en
					diversos contextos, desde el desarrollo web hasta la
					creación de aplicaciones móviles. Este curso te
					proporcionará las habilidades necesarias para aprovechar al
					máximo JavaScript
				</p>
				<p class="mb-8 text-lg">En este curso aprenderas :</p>
				<ul
					class="mb-6 flex flex-col gap-6 [&>*]:flex [&>*]:items-center [&>*]:gap-2"
				>
					<li>Fundamentos de JavaScript</li>
					<li>Manipulacion del DOM</li>
					<li>Manejo de Eventos</li>
					<li>AJAX y Fetching de Datos</li>
					<li>Programacion Orientada a Objetos</li>
				</ul>
				<span>y muchos temas mas...</span>
			</div>
			<div class="relative">
				<figure class="hidden w-full aspect-square max-w-[500px] mx-auto sm:block">
					<img
						src="resource/img/jsking.png"
						alt="icono de un cubo de javascript en 3D"
					/>
					<figcaption
						class="text-neutral-500 text-end text-xs font-extralight -translate-y-4"
					>
						ilustracion por <a class="underline hover:text-pinia-300" href="https://instagram.com/villegas.arts">@Villegas.Arts</a>
					</figcaption>
				</figure>
				<div
					class="hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 sm:block xl:static xl:translate-x-0 xl:translate-y-0 [&>*]:p-4 [&>*]:w-max [&>*]:rounded-lg"
				>
					<CodeShowcase />
				</div>
			</div>
		</div>
</section>
