---
import ArtAuthor from "@reusable/atoms/ArtAuthor.astro";
import CodeShowcase from "./CodeShowcase.md";
---

<style>
	li::before {
		content: "";
		display: inline-block;
		width: 1.5rem;
		aspect-ratio: 1/1;
		background-image: url("resource/svg/check.svg");
		background-size: cover;
	}
</style>
<section id="contenido" class="mb-section">
		<div
			class="max-w-[700px] mx-auto grid gap-8 xl:max-w-none xl:grid-cols-2"
		>
			<div>
				<h2 class="text-subtitle">
					Aprenderás <strong class="text-pinia-300 font-medium"
						>JavaScript</strong
					> desde cero, el lenguaje de programación más versátil del
					mundo
				</h2>
				<p class="mb-8 text-lg">
					<em>JavaScript</em> es un lenguaje de programación que se utiliza en el desarrollo web para hacer que las páginas sean interactivas y dinámicas. Se ejecuta en el navegador del usuario y permite a los desarrolladores controlar y modificar el contenido de una página, responder a eventos y crear aplicaciones web interactivas. Es una parte fundamental de la tecnología web moderna.
				</p>
				<p class="mb-8 text-lg">En esta guía aprenderás :</p>
				<ul
					class="mb-6 flex flex-col gap-6 [&>*]:flex [&>*]:items-center [&>*]:gap-2"
				>
					<li>Fundamentos de JavaScript</li>
					<li>Manipulación del DOM</li>
					<li>Manejo de Eventos</li>
					<li>AJAX y Fetching de Datos</li>
					<li>Programación Orientada a Objetos</li>
				</ul>
				<span>y muchos temas más...</span>
			</div>
			<div class="relative">
				<figure class="relative isolate hidden w-full aspect-square max-w-[500px] mx-auto sm:block">
					<div class="bg-pinia-400 absolute inset-0 rounded-full -z-10 opacity-50 scale-y-[.5] -rotate-45 blur-[200px]"></div>
					<img
						src="resource/img/jsking.webp"
						alt="icono de un cubo de javascript en 3D"
					/>
					<figcaption
						class="text-neutral-500 text-end text-xs font-extralight -translate-y-4"
					>
						<ArtAuthor href="https://www.instagram.com/villegas.arts">@Villegas.Arts</ArtAuthor>
					</figcaption>
				</figure>
				<div
					class="hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 sm:block xl:static xl:translate-x-0 xl:translate-y-0 [&>*]:p-4 [&>*]:w-max [&>*]:rounded-lg"
				>
					<CodeShowcase />
				</div>
			</div>
		</div>
</section>
