---
import Question from "@reusable/molecules/Question";
---

<section class="mb-section">
	<h2 class="decoration-pinia-300 text-subtitle underline underline-offset-8 decoration-wavy">Preguntas Frecuentes</h2>
	<div class="grid gap-4 md:grid-cols-2 ">
		<div class="flex flex-col gap-4">
			<Question client:visible question="ejemplo de pregunta ?">
				ejemplo de respuesta
			</Question>
			<Question client:visible question="ejemplo de pregunta ?">
				ejemplo de respuesta
			</Question>
			<Question client:visible question="ejemplo de pregunta ?">
				ejemplo de respuesta
			</Question>
		</div>
		<div class="flex flex-col gap-4">
			<Question client:visible question="ejemplo de pregunta ?">
				ejemplo de respuesta
			</Question>
			<Question client:visible question="ejemplo de pregunta ?">
				ejemplo de respuesta
			</Question>
			<Question client:visible question="ejemplo de pregunta ?">
				ejemplo de respuesta
			</Question>
		</div>
	</div>
</section>
