---
import Question from "@reusable/molecules/Question";
---

<section id="preguntas" class="mb-section">
	<h2 class="decoration-pinia-300 text-subtitle underline underline-offset-8 decoration-2 decoration-wavy">Preguntas Frecuentes</h2>
	<div class="grid gap-4 md:grid-cols-2 ">
		<div class="flex flex-col gap-4">
			<Question client:visible question="¿Que es ilovejs?">
				Es una guía diseñada para aprender JavaScript
			</Question>
			<Question client:visible question="¿Que voy a aprender en ilovejs ?">
				Aprenderas todos los conceptos clave y conocimientos necesarios que te ayudarán en tu camino como Desarrollador Web
			</Question>
			<Question client:visible question="¿Como esta organizado el contenido en ilovejs ?">
				El contenido de ilovejs se estructura en módulos, donde cada uno agrupa sus propios artículos. Se sugiere un enfoque de aprendizaje secuencial, es decir, seguir los módulos y los artículos en el orden recomendado
			</Question>
		</div>
		<div class="flex flex-col gap-4">
			<Question client:visible question="¿Quien crea el contenido en ilovejs ?">
				El contenido es administrado y enriquecido gracias a la participación de nuestra comunidad de colaboradores en GitHub
			</Question>
			<Question client:visible question="¿Es ilovejs gratuito ?">
				ilovejs es un proyecto open source hecho por la comunidad para la comunidad.
			</Question>
			<Question client:visible question="¿Como puedo colaborar?">
				¿Eres un desarrollador interesado en colaborar? Te invitamos a visitar nuestro repositorio en GitHub y consultar nuestra guía para colaboradores
			</Question>
		</div>
	</div>
</section>
