---
import ModuleTree from "@reusable/organisms/ModuleTree";

//Obtenemos todos los documuentos md
const allPost = await Astro.glob("../../pages/articles/*/*.md");
//Usando la info de los documentos creamos un arreglo con sus datos relevantes
const data = allPost.map(e => {
	//usando la url obtenemos el nombre del articulo y al modulo al que pertenecen
	const [moduleName , articleName] = e.url!.replace(/-/g , " ").split("/").filter(e => e).slice(1);
	const href = e.url as string;
	//usando la informacion definida dentro del documento obtenemos la siguiente info
	const description = e.frontmatter.description as string;
	const iconName =  e.frontmatter.iconName as string;

	return ({
		moduleName,
		articleName,
		description,
		iconName,
		href,
	})
})
---

<section class="mb-section">
	<ModuleTree data={data} client:visible/>
</section>
