---
import Spanify from "../reusable/atoms/Spanify.astro";
---
<style>
    .pattern{
        --line-color : rgba(255, 230, 0, 0.15);
        --size : 10px;

        background-image:  radial-gradient(transparent 30% , rgb(24 , 24 , 27) 70%) , linear-gradient(90deg , transparent 90% , var(--line-color) 90%) , linear-gradient(0deg , var(--line-color) 10% , transparent 10%);
        background-size: auto auto , var(--size) var(--size) , var(--size) var(--size);
    }
    /* .javascript{
        text-shadow: rgba(255, 255, 0, 0.5) 0 0 20px;
    } */
</style>
<section class="pattern py-28 mb-section flex justify-center items-center text-center">
    <div class="container invisible">
        <div class="relative w-20 aspect-square mx-auto mb-16 md:w-28 ">
            <img class="js absolute translate-y-2 translate-x-2 hue-rotate-[30deg]" src="resource/svg/js.svg" alt="javascript">
            <img class="js absolute translate-y-1 translate-x-1 hue-rotate-[60deg]" src="resource/svg/js.svg" alt="javascript">
            <img class="js absolute" src="resource/svg/js.svg" alt="javascript">
            <img class="crown absolute left-1/2 top-0 -translate-x-1/2 -translate-y-[3rem] w-full max-w-[4rem]" src="resource/svg/crown.svg" alt="crown">
        </div>
        <h1 class="mb-12 text-4xl font-normal font-roboto md:text-6xl ">
            <Spanify phrase="Aprende" className="title"/>{" "}
            <strong class="font-medium"><Spanify phrase="JavaScript" className="title title-javascript"/></strong>{" "}
            <Spanify phrase="para" className="title"/>{" "}<br class="hidden lg:block"/> 
            <strong class="font-normal"><Spanify phrase="Desarrollo Web" className="title"/></strong>
        </h1>
        <p class="description text-lg font-light">
            Domina <strong class="javascript bg-pinia-400 text-black inline-block px-1 rotate-[3deg]">JavaScript</strong> desde sus fundamentos hasta
            temas avanzados. Una <strong class="text-lime-400 font-semibold"><Spanify phrase="Guia Gratuita" className="guide bg-gradient-to-t from-lime-400 to-cyan-300 bg-clip-text text-transparent"/></strong> para <br class="hidden lg:block"/> convertirte en un
            desarrollador web ninja
        </p>
    </div>
</section>
<script src="../../lib/HeroAnimations.ts"></script>