<a href="/" class="flex items-center uppercase text-3xl font-roboto font-medium">
    i<img
        class="inline-block w-8 translate-y-[1px]"
        src="/favicon.svg"
        alt="corazon"
    />js
</a>